.container2 {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #0016a5dd; /* Linha */
  }

  body {
    background-color: hsl(212, 100%, 61%); /* Fundo Site */
    color: #ffffff; /* Letras */
    font-family: Arial, sans-serif;
  }
  
  .bandeira{
    height: auto;
    width: auto;
  }
  